/* TopBar.css */
*{
    color: inherit;
}
.welcoming {
    display: flex;
}
.right-side{
    display: flex;
    align-items: center;
}
.navbar {
    display: flex;
    align-items: center;
    padding-inline: 12px;
}
  
.nav-links {
    display: flex;
    align-items: end;
}
.nav-links:not(:last-child){
    margin-right: 12px;
}
.nav-links .top-link-wrpr{
    padding: 6px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.nav-links .top-link-wrpr:not(:last-child) {
    margin-right: 12px;
}
.nav-links .top-link-wrpr .icon{
    margin-right: 8px;
    font-size: 20px;
    display: flex;
    align-items: center;
}  









  